extends layout/layout

block title
	title About us
   
block content
	.content
		.content__container.content__container--about-us.fl.fl--flow-col-wrap.fl--justify-b
			header.header.header--about-us.fl.fl--justify-b
				a.logo(href="index.html")
					img.logo__img(src="public/img/logo.png")
				ul.nav.fl.fl--align-c
					li.nav__item
						a.nav__link.font--roman(href="portfolio.html") portfolio	
					li.nav__item
						a.nav__link.font--roman(href="contacts.html") contacts
					li.nav__item
						a.nav__link.nav__link--img(href="message.html")
							img.nav__img(src="public/img/letter.svg")
			h1.page-title.page-title--about-us.font--heavy Почему 4side?
			ul.slider.slider--about-us
				li.slider__li.slider__li--about-us.slider__li--1.fl.fl--flow-col-wrap.fl--justify-c
					.slider__wrap.slider__wrap--1
						.slider__title.fl.fl--flow-col-wrap
							span.slider__span.slider__span--bold.font--bold команда экспертов,
							span.slider__span.font--roman а не просто исполнители
						p.slider__text.font--light Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле
						.slider__control.fl.fl-align-c.fl--justify-b
							span.slider__prev.cursor
							.slider__quantity-box.font--light
								span.slider__quantity.slider__quantity--actual.font--light 1
								span.slider__quantity.slider__quantity--all.font--light 4
							span.slider__next.cursor
				//- li.slider__li.slider__li--about-us.slider__li--2.fl.fl--flow-col-wrap.fl--justify-c
				//- 	.slider__wrap.slider__wrap--2
				//- 		.slider__title.fl.fl--flow-col-wrap
				//- 			span.slider__span.slider__span--bold.font--bold уникальный визуальный
				//- 			span.slider__span.font--bold концепт и образ компании,
				//- 		p.slider__text.font--light Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле
				//- 		.slider__control.fl.fl-align-c.fl--justify-b
				//- 			span.slider__prev.cursor
				//- 			.slider__quantity-box.font--light
				//- 				span.slider__quantity.slider__quantity--actual.font--light 2
				//- 				span.slider__quantity.slider__quantity--all.font--light 4
				//- 			span.slider__next.cursor
				//- li.slider__li.slider__li--about-us.slider__li--3.fl.fl--flow-col-wrap.fl--justify-c
				//- 	.slider__wrap.slider__wrap--3
				//- 		.slider__title.fl.fl--flow-col-wrap
				//- 			span.slider__span.slider__span--bold.font--bold адаптивный и оптимизированный продукт,
				//- 			span.slider__span.font--roman а не картонный макет
				//- 		p.slider__text.font--light Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле
				//- 		.slider__control.fl.fl-align-c.fl--justify-b
				//- 			span.slider__prev.cursor
				//- 			.slider__quantity-box.font--light
				//- 				span.slider__quantity.slider__quantity--actual.font--light 3
				//- 				span.slider__quantity.slider__quantity--all.font--light 4
				//- 			span.slider__next.cursor
				//- li.slider__li.slider__li--about-us.slider__li--4.fl.fl--flow-col-wrap.fl--justify-c
				//- 	.slider__wrap.slider__wrap--4
				//- 		.slider__title.fl.fl--flow-col-wrap
				//- 			span.slider__span.slider__span--bold.font--bold сопровождение проекта после релиза, &shy;
				//- 			span.slider__span.font--roman а не просто разработка
				//- 		p.slider__text.font--light Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле
				//- 		.slider__control.fl.fl-align-c.fl--justify-b
				//- 			span.slider__prev.cursor
				//- 			.slider__quantity-box.font--light
				//- 				span.slider__quantity.slider__quantity--actual.font--light 4
				//- 				span.slider__quantity.slider__quantity--all.font--light 4
				//- 			span.slider__next.cursor
			footer.footer.fl.fl--justify-b.fl--align-end
				ul.social.fl.fl--flow-col-wrap.fl--align-c
					li.social__li
						a.social__icon.social__icon--fb(href="#")
							img(src="public/img/facebook.svg")
					li.social__li
						a.social__icon.social__icon--vk(href="#")
							img(src="public/img/vk.svg")
					li.social__li
						a.social__icon.social__icon--tw(href="#")
							img(src="public/img/twitter.svg")
				.magic
					button.magic__btn
						img(src="public/img/magician-hat.svg")
