.call-us
    position absolute
    left 50%
    transform translateX(-50%)

    @media screen and (min-width 992px)
        bottom 35px

    @media screen and (min-width 1367px)
        bottom 60px

    &__p
        font-size 18px
        letter-spacing .025em
        width 290px
        line-height 30px
        text-align center
        text-transform uppercase
        position relative

    &__phone
        width 75px
        height 75px
        background url(../img/phone.png) center no-repeat, #a3d7d4
        background-size 38px 38px
        border-radius 50%
        box-shadow 0 0 0 20px rgba(163,215,212,.5)
