.content
    // height 100vh
    @media screen and (min-width 992px)
        border 15px solid #fff
        min-height 700px

    @media screen and (min-width 1367px)
        border 25px solid #fff
        min-height 975px

    &__container
        height 100%
        position relative

        &--main
            background url(../img/bg.jpg) no-repeat
