.content
   height 100vh
   min-height 700px
   border 15px solid #fff

   &__container
      padding 30px
      height 100%
      position relative

      &--main
         background url(../img/bg.jpg) no-repeat
