.info
    @media screen and (min-width 992px)
        padding 0 100px

    @media screen and (min-width 1367px)
        padding 0 140px

    &__box
        &--contact
            margin-bottom -15px

        &--address
            text-align right

    &__title
        text-transform uppercase
        font-size 32px
        letter-spacing .01em
        margin-bottom 25px

    &__item
        margin-bottom 15px
        color #fff
        font-size 18px
        letter-spacing .01em
