.message
    &__title
        font-size 60px
        text-transform uppercase
        text-align center
        padding 210px 0 90px

    &__btn
        text-transform uppercase
        text-align center
        background #78c4c1
        border 2px solid #fff
        color #fff
        font-size 30px
        line-height .01em
        padding 55px 80px
        margin 0 auto 85px
        display block
