.order-call
    background #baacd9
    border-radius 50%
    letter-spacing .01em
    text-align center
    text-transform uppercase
    position absolute
    left 50%
    transform translateX(-50%)
    z-index 20
    width 120px
    height 120px
    font-size 16px
    box-shadow 0 0 0 30px rgba(186,172,217,.5)
    top 540px

    @media screen and (min-width 767px)
        width 155px
        height 155px
        font-size 22px
        box-shadow 0 0 0 35px rgba(186,172,217,.5)
        line-height 32px
        top 555px

    @media screen and (min-width 992px)
        width 215px
        height 215px
        box-shadow 0 0 0 55px rgba(186,172,217,.5)
        font-size 30px
        top 355px
        line-height 44px

    @media screen and (min-width 1367px)
        width 255px
        height 255px
        box-shadow 0 0 0 65px rgba(186,172,217,.5)
        font-size 32px
        top 485px
