.page-title
    text-transform uppercase

    &--about-us
        position absolute
        top 80px
        left 50%
        transform translateX(-50%)
        display none

        @media screen and (min-width 992px)
            display block
            font-size 50px

        @media screen and (min-width 1367px)
            font-size 60px

    &--contacts
        text-align center
        font-size 46px
        padding 100px 0 30px

        @media screen and (min-width 767px)
            font-size 70px
            padding 140px 0 30px

        @media screen and (min-width 992px)
            padding 160px 0 60px

        @media screen and (min-width 1367px)
            font-size 100px
            padding 210px 0 190px
