.page-title
    text-transform uppercase
    position absolute
    top 80px
    left 50%
    transform translateX(-50%)
    display none

    @media screen and (min-width 992px)
        display block
        font-size 50px

    @media screen and (min-width 1367px)
        font-size 60px
