.send
    display inline-flex
    position absolute
    top 105px
    right -170px

    &__img
        height 50px
        width 60px
        margin-bottom 15px

    &__span
        font-size 18px
        letter-spacing .075em
