.slider
   display none
   
   @media screen and (min-width 769px)
      position absolute
      top 50%
      left 0
      width 200%
      transform translateX(-22%)

      &__slide
         cursor pointer
         font 100px HelveticaNeueCyrHeavy, sans-serif
