.slider
    &--main
        display none

        @media screen and (min-width 769px)
            position absolute
            top 50%
            left 0
            width 200%
            transform translateX(-22%)

    &--message
        max-width 950px
        margin 150px auto 210px
        height 350px

    &__slide
        cursor pointer
        font 100px HelveticaNeueCyrHeavy, sans-serif

    &__li
        &--1
            background url(../img/slide-img1.png) no-repeat, #f8bf11
            background-position 50% 90%
            background-size 280px 330px

            @media screen and (min-width 767px)
                background-size 368px 435px

            @media screen and (min-width 992px)
                background-position 885px 180px
                background-size 352px 418px

            @media screen and (min-width 1367px)
                background-position 1095px 150px
                background-size 631px 749px

        &--2
            background url(../img/slide-img2.png) no-repeat, #8161f0
            background-position 50% 90%
            background-size 356px 225px

            @media screen and (min-width 767px)
                background-size 468px 296px

            @media screen and (min-width 992px)
                background-position 885px 325px
                background-size 446px 282px

            @media screen and (min-width 1367px)
                background-position 1015px 270px
                background-size 797px 504px

        &--3
            background url(../img/slide-img3.png) no-repeat, #14aae5
            background-position 50% 90%
            background-size 411px 411px

            @media screen and (min-width 767px)
                background-size 541px 541px

            @media screen and (min-width 992px)
                background-position 770px 45px
                background-size 516px 516px

            @media screen and (min-width 1367px)
                background-position 950px 35px
                background-size 921px 921px

        &--4
            background url(../img/slide-img4.png) no-repeat, #f76270
            background-position 50% 90%
            background-size 373px 360px

            @media screen and (min-width 767px)
                background-size 491px 474px

            @media screen and (min-width 992px)
                background-position 785px 155px
                background-size 468px 451px

            @media screen and (min-width 1367px)
                background-position 970px 130px
                background-size 836px 806px

        &--about-us
            min-height 568px
            padding 0 15px

            @media screen and (min-width 767px)
                min-height 670px
                padding 0 50px

            @media screen and (min-width 992px)
                padding 150px 30px 30px 215px

            @media screen and (min-width 1367px)
                padding 150px 30px 30px 300px
                min-height 925px

        &--message
            min-height 305px
            position relative

        &--padding-top
            padding-top 80px

    &__title
        display inline-block
        margin-bottom 20px

        @media screen and (min-width 767px)
            margin-bottom 30px

        @media screen and (min-width 992px)
            width 620px
            margin-bottom 15px

        @media screen and (min-width 1367px)
            width 730px

        &--message
            text-transform uppercase
            text-align center
            width 100%

    &__span
        display inline
        letter-spacing .025em
        text-transform uppercase
        font-size 20px
        line-height 30px

        @media screen and (min-width 767px)
            font-size 24px
            line-height 38px

        @media screen and (min-width 1367px)
            font-size 30px
            line-height 42px

        &--bold
            margin-right 10px
            // display inline-block
            // width 100%

    &__text
        line-height 20px
        letter-spacing .05em
        margin-bottom 25px

        @media screen and (min-width 767px)
            line-height 26px
            font-size 16px

        @media screen and (min-width 992px)
            margin-bottom 40px
            width 620px

        @media screen and (min-width 1367px)
            line-height 30px

        &--message
            width 100%
            letter-spacing .075em
            font-size 18px
            line-height 30px
            margin-bottom 35px

        &--padding-top
            padding-top 60px

    &__control
        width 290px

        @media screen and (min-width 767px)
            width 294px

    &__prev, &__next
        width 11px
        height 22px
        background url(../img/arrow.png) no-repeat
        background-size cover

        @media screen and (min-width 767px)
            width 19px
            height 36px

    &__next
        transform rotate(-180deg)

    &__quantity-box
        font-size 20px
        letter-spacing .2em

        @media screen and (min-width 767px)
            font-size 24px

    &__quantity
        &--actual
            position relative
            margin-right 15px

            &:after
                content '/'
                position absolute
                top 0
                left 20px

    &__wrap
        position relative
        z-index 0
        max-width 480px
        margin 0 auto

        @media screen and (min-width 767px)
            max-width 800px
            margin 0 auto

        @media screen and (min-width 992px)
            margin-top 30px
            width 620px
            min-width none

        @media screen and (min-width 1367px)
            margin 0

        &:before
            content ''
            position absolute
            z-index -1
            top -35px
            right 5px

            @media screen and (min-width 767px)
                top -55px
                right 65px

            @media screen and (min-width 992px)
                top -75px
                left -145px
                right auto

            @media screen and (min-width 1367px)
                top -135px
                left -165px

        &--1
            &:before
                background url(../img/number-1.png) no-repeat
                background-size cover
                width 90px
                height 175px

                @media screen and (min-width 767px)
                    width 115px
                    height 235px

                @media screen and (min-width 1367px)
                    width 140px
                    height 280px

        &--2
            &:before
                background url(../img/number-2.png) no-repeat
                background-size cover
                width 135px
                height 175px

                @media screen and (min-width 767px)
                    width 170px
                    height 235px

                @media screen and (min-width 1367px)
                    width 205px
                    height 280px

        &--3
            &:before
                background url(../img/number-3.png) no-repeat
                background-size cover
                width 140px
                height 170px

                @media screen and (min-width 767px)
                    width 180px
                    height 230px

                @media screen and (min-width 1367px)
                    width 220px
                    height 275px

        &--4
            &:before
                background url(../img/number-4.png) no-repeat
                background-size cover
                width 165px
                height 170px

                @media screen and (min-width 767px)
                    width 210px
                    height 230px

                @media screen and (min-width 1367px)
                    width 255px
                    height 275px

    &__box
        margin-bottom -35px

    &__subtitle
        font-size 30px
        letter-spacing .01em
        text-transform uppercase
        text-align center
        margin-bottom 45px

        &--margin-small
            margin-bottom 15px

        &--margin-b
            margin-bottom 45px

        &--padding-top
            padding-top 80px
