.social
    flex-flow row wrap
    
    @media screen and (min-width 767px)
        margin-bottom -35px
        flex-flow column wrap

    &__icon
        margin-bottom 35px

        &--fb
            width 15px
            height 30px

        &--vk
            width 35px
            height 20px

        &--tw
            width 30px
            height 25px
