.social
   margin-bottom -35px

   &__icon
      margin-bottom 35px
      
      &--fb
         width 15px
         height 30px

      &--vk
         width 35px
         height 20px

      &--tw
         width 30px
         height 25px
