.textarea
    border 1px solid #fff
    width 100%
    resize none
    background-color transparent
    height 155px
    padding 5px
    font-size 18px
    letter-spacing .075em
    color #fff

    &:focus
        outline none

    &--big
        height 200px
