
// Vendors
@import './vendor/bem/__modificators/index.styl'

// Modificators
// @import './common/__modificators/__[modificator-name].styl'

// Default styls (fonts, etc ...)
@import './common/font.styl'
@import './common/global.styl'

// BEM blocks
@import './blocks/nav.styl'
@import './blocks/logo.styl'
@import './blocks/content.styl'
@import './blocks/header.styl'
@import './blocks/social.styl'
@import './blocks/magic.styl'
@import './blocks/circle-slider.styl'
@import './blocks/slider.styl'
@import './blocks/spot.styl'
@import './blocks/page-title.styl'
@import './blocks/footer.styl'
@import './blocks/info.styl'
@import './blocks/map.styl'
@import './blocks/order-call.styl'
@import './blocks/message.styl'
@import './blocks/call-us.styl'
@import './blocks/input.styl'
@import './blocks/doc.styl'
@import './blocks/textarea.styl'
@import './blocks/send.styl'
