body
	color #fff
	font 16px HelveticaNeueCyrRoman, sans-serif
	// overflow-x hidden
	// width 1920px
	width 1367px
	// height 1275px
	// background #000

	@media screen and (min-width 1367px)
		font-size 18px

img
	width 100%
	height 100%
	display block

.font
	&--roman
		font-family HelveticaNeueCyrRoman, sans-serif

	&--heavy
		font-family HelveticaNeueCyrHeavy, sans-serif

	&--bold
		font-family HelveticaNeueCyrBold, sans-serif

	&--light
		font-family HelveticaNeueCyrLight, sans-serif

	&--medium
		font-family HelveticaNeueCyrMedium, sans-serif

.cursor
	cursor pointer

placeholder(color, font-size)
	&::placeholder
		color color
		opacity 1
		font font-size HelveticaNeueCyrLight, sans-serif
		letter-spacing .075em

	&::-ms-placeholder
		color color
		opacity 1
		font font-size HelveticaNeueCyrLight, sans-serif
		letter-spacing .075em

	&:-ms-input-placeholder
		color color
		opacity 1
		font font-size HelveticaNeueCyrLight, sans-serif
		letter-spacing .075em

	&:focus:placeholder
		opacity 0

	&:focus::-ms-placeholder
		opacity 0

	&:focus:-ms-input-placeholder
		opacity 0
