body
	color #fff
	font 16px HelveticaNeueCyrRoman, sans-serif
	// overflow-x hidden
	// width 1920px
	// width 1367px
	// height 1275px
	// background #000

	@media screen and (min-width 1367px)
		font-size 18px

img
	width 100%
	height 100%
	display block

.font
	&--roman
		font-family HelveticaNeueCyrRoman, sans-serif

	&--heavy
		font-family HelveticaNeueCyrHeavy, sans-serif

	&--bold
		font-family HelveticaNeueCyrBold, sans-serif

	&--light
		font-family HelveticaNeueCyrLight, sans-serif

	&--medium
		font-family HelveticaNeueCyrMedium, sans-serif

.cursor
	cursor pointer
